<!DOCTYPE html>
<html ng-App = "policyLinksApp">
<head>
  <title>Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/javascripts/angular/Main.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript">
    function store(){
      var image, title, comment='';
      if(typeof(Storage) !== "undefined") {

        sessionStorage.setItem("image", document.getElementById("image").value);
        sessionStorage.setItem("comment", document.getElementById("comment").value);
        sessionStorage.setItem("title",document.getElementById("title").value);

        document.getElementById('modal-title').innerHTML = sessionStorage.getItem('title');
        document.getElementById('modal-comment').innerHTML = sessionStorage.getItem('comment');

      }
      else {
        alert("Sorry, your browser does not support web session storage...");
      }
    }

    $(document).on('click', '#close-preview', function(){
      $('.image-preview').popover('hide');
      // Hover befor close the preview
      $('.image-preview').hover(
              function () {
                $('.image-preview').popover('show');
              },
              function () {
                $('.image-preview').popover('hide');
              }
      );
    });

    $(function() {
      // Create the close button
      var closebtn = $('<button/>', {
        type:"button",
        text: 'x',
        id: 'close-preview',
        style: 'font-size: initial;',
      });
      closebtn.attr("class","close pull-right");
      // Set the popover default content
      $('.image-preview').popover({
        trigger:'manual',
        html:true,
        title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
        content: "There's no image",
        placement:'bottom'
      });
      // Clear event
      $('.image-preview-clear').click(function(){
        $('.image-preview').attr("data-content","").popover('hide');
        $('.image-preview-filename').val("");
        $('.image-preview-clear').hide();
        $('.image-preview-input input:file').val("");
        $(".image-preview-input-title").text("Browse");
      });
      // Create the preview image
      $(".image-preview-input input:file").change(function (){
        var img = $('<img/>', {
          id: 'dynamic',
          width:250,
          height:200
        });
        var file = this.files[0];
        var reader = new FileReader();
        // Set preview image into the popover data-content
        reader.onload = function (e) {
          $(".image-preview-input-title").text("Change");
          $(".image-preview-clear").show();
          $(".image-preview-filename").val(file.name);
          img.attr('src', e.target.result);
          $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
        }
        reader.readAsDataURL(file);
      });
    });

    var i = 2;

    function add() {
      var divElementTitle = document.createElement("div");
      divElementTitle.setAttribute("class","input-group col-lg-12");

      var elementTitle = document.createElement("input");
      var labelTitle = document.createElement("Label");
      labelTitle.innerHTML = "Sub Title";
      elementTitle.setAttribute("class", "form-control");
      labelTitle.setAttribute("class", "input-group-addon");
      labelTitle.setAttribute("id", "basic-addon1");

        var divElement = document.createElement("div");
        divElement.setAttribute("class","input-group col-lg-12")

      //Create an input type dynamically.
        var element = document.createElement("textarea");

      //Create Labels
        var label = document.createElement("Label");
        label.innerHTML = "Comment";
        var comment =
      //Assign different attributes to the element.
                element.setAttribute("class", "form-control");
        element.setAttribute("rows", "5");
        element.setAttribute("id", "Comment2");

        label.setAttribute("class", "input-group-addon");
        label.setAttribute("id", "basic-addon1");
        // 'foobar' is the div id, where new fields are to be added
        var foo = document.getElementById("row" + i);
        i++;

//Append the element in page (in span).

      foo.appendChild(labelTitle);
      foo.appendChild(elementTitle);
      foo = document.getElementById("row" + i);
      i++;
      foo.appendChild(label);
      foo.appendChild(element);
    }
    function printPDF() {
      var title = $("#modal-title").html();
      var divContents = $("#modal-body").html();
      var printWindow = window.open('', '', 'height=600,width=1000');
      printWindow.document.write('<html><head><title><h1>');
      printWindow.document.write(title);
      printWindow.document.write('</h1></title>');
      printWindow.document.write('</head><body><p>');
      printWindow.document.write(divContents);
      printWindow.document.write('</p></body></html>');
      printWindow.document.close();
      printWindow.print();
    }
  </script>
  <style>
    .chord {
      fill-opacity: .67;
    }
  </style>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.css' />

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <h3 class="title" style="color: white">Policylinks</h3>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="dropdown">-->
          <!--<a ng-href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Get Form <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#/form">Get Form</a></li>-->
            <!--<li><a href="#/selectorPage">Selector Page</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <li></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div>
</div>

<div ng-view class="container-fluid">
</div>
</body>
</html>