<!-- This page is used to select all the attributes required to generate images. -->

<script>
    $(function () {
        //Tab1
        $("#demographics").click(function () {
            $("#demographics-breakdown").addClass('ng-show').removeClass('ng-hide');
            //$("#demographics-breakdown-r1").attr("value",1);
        });
        $("#demographics-breakdown").click(function () {
            $("#demographics-filter1").addClass('ng-show').removeClass('ng-hide');
        });

        //Tab2
        $("#equity1").click(function () {
            $("#equity-breakdown2").addClass('ng-hide').removeClass('ng-show');
            $("#equity-breakdown1").addClass('ng-show').removeClass('ng-hide');
        });
        $("#equity2").click(function () {
            $("#equity-breakdown1").addClass('ng-hide').removeClass('ng-show');
            $("#equity-breakdown2").addClass('ng-show').removeClass('ng-hide');
        });
        $("#operation1").click(function () {
            $("#equity-filter1").addClass('ng-show').removeClass('ng-hide');
            $("#equity-filter11").addClass('ng-show').removeClass('ng-hide');
            //$("#operation2a").addClass('ng-show').removeClass('ng-hide');
        });

        //Tab3
        $("#economicbenefits").click(function () {
            $("#economicbenefits-breakdown").addClass('ng-show').removeClass('ng-hide');
        });
        $("#generateImage").click(function () {
            $("#url").addClass('ng-show').removeClass('ng-hide');
        });

    });

</script>
<div id="tabs" xmlns="http://www.w3.org/1999/html">
    <ul>
        <li><a href="#tabs-demographics">Demographics</a></li>
        <li><a href="#tabs-equity">Equity</a></li>
        <li><a href="#tabs-economicbenefits">Economic Benefits</a></li>
    </ul>

    <div id="tabs-demographics">
        <form id="demographics-tab" class="demographics">
            <div class="row">
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" ng-model="form.demographics" id="demographics" name="demographics"
                                      value=0>Race/Ethnicity</label>
                    </div>
                </div>
            </div>

            <div id="demographics-breakdown" class="row ng-hide">
                <label>Breakdown</label>
                <div class="form-group">
                    <select id="operation" class="form-control" ng-model="form.selectedValue1">
                        <option selected> Race/Ethnicity</option>
                    </select>
                </div>
            </div>

            <button class="btn btn-success" ng-click="generate();">Generate Image</button>
        </form>
    </div>

    <div id="tabs-equity">
        <form id="equity-tab" class="equity">
            <div class="row">
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" ng-model="form.equity" id="equity1" name="equity" value=0> Working
                            Poor</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" ng-model="form.equity" id="equity2" name="equity" value=1> School
                            Poverty</label>
                    </div>
                </div>
            </div>

            <div id="equity-breakdown1" class="row ng-hide">
                <label>Breakdown</label>
                <div class="form-group">
                    <select id="operation1" class="form-control" ng-model="m1">
                        <option value="1"> Trend</option>
                        <option value="2"> By Nativity</option>
                    </select>

                    <div ng-show="m1=='1' || m1=='2'">
                        <label>Filter Option 1</label>
                        <div class="form-group" id="equity-filter11">
                            <select class="form-control" ng-model="form.selectedValue2a">
                                <option value="3"> Poverty Level:100</option>
                                <option value="4"> Poverty Level:150</option>
                                <option value="5"> Poverty Level:200</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="m1=='2'">
                        <label>Filter Option 2</label>
                        <div class="form-group" id="equity-filter11">
                            <select class="form-control" ng-model="form.selectedValue2b">
                                <option value="6"> Year 2000</option>
                                <option value="7"> Year 2012</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div id="equity-breakdown2" class="row ng-hide">
                <label>Breakdown</label>
                <div class="form-group">
                    <select id="operation2" class="form-control" ng-model="m2">
                        <option value="8"> Over Time</option>
                        <option value="9"> By Race/Ethnicity</option>
                    </select>

                    <div ng-show="m2=='8'">
                        <label>Filter Option 1</label>
                        <div class="form-group" id="equity-filter11">
                            <select class="form-control" ng-model="form.selectedValue2c">
                                <option> School_type:All_Public_schools</option>
                                <option> School_type:Primary_schools</option>
                                <option> School_type:Middle_schools</option>
                                <option> School_type:High_schools</option>
                            </select>
                        </div>
                    </div>

                    <div ng-show="m2=='9'">
                        <label>Filter Option 1</label>
                        <div class="form-group" id="equity-filter11">
                            <select class="form-control" ng-model="form.selectedValue2d">
                                <option> Year 2000</option>
                                <option> Year 2010</option>
                                <option> Year 2014</option>
                            </select>
                        </div>
                        <label>Filter Option 2</label>
                        <div class="form-group" id="equity-filter11">
                            <select id="operation22" class="form-control" ng-model="form.selectedValue2e">
                                <option> School_type:All_Public_schools</option>
                                <option> School_type:Primary_schools</option>
                                <option> School_type:Middle_schools</option>
                                <option> School_type:High_schools</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-success" ng-click="generateURL2()" id="generateImage">Generate URL</button>
            <a href={{url}} id="url" class="ng-hide">Download Image</a>
        </form>
    </div>

    <div id="tabs-economicbenefits">
        <form id="Economic Benefits">
            <div class="row">
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" ng-model="form.economicbenefits" id="economicbenefits"
                                      name="economicbenefits"
                                      value=0>Income Gains with Racial Equity</label>
                    </div>
                </div>
            </div>

            <div id="economicbenefits-breakdown" class="row ng-hide">
                <label>Breakdown</label>
                <div class="form-group">
                    <select id="operation-economicbenefits" class="form-control" ng-model="form.selectedValue1">
                        <option> Income</option>
                        <option> Income gains</option>
                        <option> Source of gains</option>
                    </select>
                </div>
            </div>

            <button class="btn btn-success" ng-click="generateURL3()" id="generateImage">Generate URL</button>
            <a href={{url}} id="url" class="ng-hide">Download Image</a>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#tabs").tabs({
            event: "mouseover"
        });
    });
</script>