<!-- This page is used to select all the attributes required to generate images. -->
<div id="tabs" xmlns="http://www.w3.org/1999/html">
    <ul>
        <li><a href="#tabs-1">Demographics</a></li>
        <li><a href="#tabs-2">Equity</a></li>
        <li><a href="#tabs-3">Economic Benefits</a></li>
    </ul>
    <div id="tabs-1">
        <form id="demographics" class="demographics">
            <div class="row">
                <div class="form-group">
                    <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Race/ethnicity" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <label>Breakdown</label>
                    <div class="form-group">
                        <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                            <input type="text" value="Racial Ethnicity Composition" class="form-control"
                                   aria-label="...">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="tabs-2">
        <form id="Equity">
            <div class="row">
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Working Poor" class="form-control" aria-label="...">
                    </div>

                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School Poverty" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>

            <div>
                <label>Breakdown</label>
                <div class="form-group">
                    <div class="row">
                        <div class="input-group ">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                            <input type="text" value="Trend"  aria-label="...">
                        </div>


                        <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                            <input type="text" value="By Nativity" aria-label="...">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                    <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Over Time" class="form-control" aria-label="...">
                    </div>


                    <div class="input-group col-sm-4">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="By race/Ethnicity" class="form-control" aria-label="...">
                    </div>
                    </div>
                </div>
                <label> Filter Option 1</label>
                <div class="form-group">

                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Poverty Level:100" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Poverty Level:150" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Poverty Level:200" class="form-control" aria-label="...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:All_Public_schools" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:Primary_schools" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:Middle_schools" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:High_schools" class="form-control" aria-label="...">
                    </div>

                </div>
                <div class="form-group">

                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Year 2000" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Year 2010" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Year 2014" class="form-control" aria-label="...">
                    </div>
                </div>

                <label> Filter Option 2</label>
                <div class="form-group">

                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Year 2000" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Year 2012" class="form-control" aria-label="...">
                    </div>

                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:All_Public_schools" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:Primary_schools" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:Middle_schools" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="School_type:High_schools" class="form-control" aria-label="...">
                    </div>

                </div>
            </div>

        </form>
    </div>
    <div id="tabs-3">
        <form id="Economic Benefits">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                    <input type="text" value="Income Gains with Racial Equity" class="form-control" aria-label="...">
                </div>
            </div>

            <div>
                <label>Breakdown</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Income" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Income gains" class="form-control" aria-label="...">
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">
                            <input type="radio" aria-label="...">
                    </span>
                        <input type="text" value="Source of gains" class="form-control" aria-label="...">
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
<script>
    $(function () {
        $("#tabs").tabs({
            event: "mouseover"
        });
    });
</script>